@import "/src/styles/main";

.movieInfoBlock {
    /*display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 4fr 1fr;*/
    height: 100%;
    width: 50%;
    justify-content: center;
    align-items: center;

    img {
        @include poster(50%, auto);
    }

    &Main {
        display: flex;
        flex-direction: column;
    }

    &Buttons {
        display: flex;

    }
}
