@import "/src/styles/main";

.HeaderButtonLink {
    $wh: 60px;
    background-color: $secondary-color;
    border-radius: 5px;
    height: $wh;
    width: $wh;
    display: flex;
    justify-content: center;
    align-items: center;

    transition: background-color .2s linear, border .2s linear;
    border: 2px solid $header-color;

    img {
        height: 80%;
    }

    &:hover {
        background-color: $background-color;
        border: 2px solid $secondary-color;
    }
}
