@import "/src/styles/main.scss";

header {
    background-color: $header-color;
    height: 80px;
    width: 100%;
    border-bottom: 2px solid $secondary-color;
    z-index: 99;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    /*position: fixed;
    top: 0;
    left: 0;*/

    & > a:first-of-type {
        font-size: 1.5vw;
        margin: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 20%;
        height: 80px;
        text-decoration: none;
    }

    .#{&}_links {
        display: flex;
        gap: 1vw;
        margin-right: 1vw;
    }
}
