@import "styles/colors";

html, body {
    height: 100vh;
}

body {
    margin: 0;
    font-family: Inter, sans-serif;
    background-color: $background-color;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: $font-color;
    font-size: 16pt;
}

a, a:visited {
    color: $font-color;
}

a:hover {
    color: $accent-color;
}
